{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not dead",
            "ie >= 11"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "production": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
} 