<form id="nomeFormConsulta" name="nomeFormConsulta" ng-submit="filtrar()" valida-Formulario novalidate ng-if="estrutura.tipoEstrutura != 'consultaDireta'">
    <input type="hidden" id="pagina" name="pagina" value="1">
    <div ng-if="tela == 'consulta' || tela == undefined">
        <div class="row linhaFiltro" ng-repeat="(key, filtro) in filtros" ng-if="filtro.exibir == undefined || filtro.exibir">
            <div ng-if="!dispositivoMovel">
                <div class="col-sm-4 col-lg-3 form-group">
                    <label ng-if="key == 0">Campo</label>
                    <select-filtros-pesquisa keyArray="{{key}}"></select-filtros-pesquisa>
                </div>

                <div class="col-sm-3 col-lg-2 form-group divComparacaoConsulta">
                    <label ng-if="key == 0">Comparação</label>
                    <select class="form-control valid" id="operador" ng-model="filtro.operador" aria-invalid="false" ng-options="o.valor as o.label for o in operadoresConsulta" ng-if="filtro.tipo != 'intervaloDatas'"></select>
                    <div class="input-group" ng-if="filtro.tipo == 'intervaloDatas'">
                        <span class="input-group-addon">D. I.</span>
                        <input type="text" class="data form-control" ng-model="filtro.di" ui-data placeholder="Data Inicial">
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 divValorConsulta">
                    <label ng-if="key == 0">Valor</label>
                    <input type="text" class="form-control valorConsulta" id="filtros_{{key}}_valor" ng-model="filtros[key]['valor']" ng-if="filtro.tipo != 'intervaloDatas'">
                    <div class="input-group" ng-if="filtro.tipo == 'intervaloDatas'">
                        <span class="input-group-addon">D. F.</span>
                        <input type="text" class="data form-control" ng-model="filtro.df" ui-data placeholder="Data Final">
                    </div>
                </div>

            </div>

            <div ng-if="dispositivoMovel">
                <div class="col-xs-12 input-group top05">
                    <span class="input-group-addon">Campo</span>
                    <select-filtros-pesquisa keyArray="{{key}}"></select-filtros-pesquisa>
                </div>
                <div class="col-xs-12 input-group top05 divComparacaoConsulta">
                    <span class="input-group-addon">Comparação</span>
                    <select class="form-control valid" id="operador" ng-model="filtro.operador" aria-invalid="false" ng-options="o.valor as o.label for o in operadoresConsulta"></select>
                </div>
                <div class="col-xs-12 input-group divValorConsulta top05">
                    <span class="input-group-addon">Valor</span>
                    <input type="text" class="form-control" ng-model="filtros[key]['valor']">
                </div>
            </div>

            <div ng-class="{'baixarbotao': !dispositivoMovel && key == 0}">
                <button type="button" class="col-xs-5 col-md-1 btn btn-primary glyphicon glyphicon-plus" id="addcampoconsulta" ng-click="adicionarFiltro()"></button>
                <button type="button" class="col-xs-5 col-xs-offset-2 col-md-1 col-md-offset-0 cursor btn btn-danger glyphicon glyphicon-trash" id="limparfiltros" ng-click="limparFiltros()" ng-if="key == 0"></button>
                <button type="button" class="col-xs-5 col-xs-offset-2 col-md-1 col-md-offset-0 cursor btn btn-danger glyphicon glyphicon-minus" id="limparfiltros" ng-click="removerFiltro(key)" ng-if="key > 0"></button>
            </div>
        </div>
        <div class="col-xs-12" id="divcomparacoesconsulta"></div>
        <div id="divfiltrosadicionais"></div>
        <div class="row">
            <div ng-if="!dispositivoMovel">
                <div class="col-sm-3">
                    <label>Ordenar por</label>
                    <select id="ordemFiltro" name="ordemFiltro" class="form-control" ng-model="ordemFiltro" ng-options="key as c.texto for (key, c) in camposFiltroPesquisa">
                    <option value="">Selecione o Campo</option>
                </select>
                </div>
                <div class="col-xs-12 col-sm-2 form-group">
                    <span ng-if="!ocultarItensPagina">
                    <label>Ítens Por Página</label>
                    <select id="itensPagina" ng-model="itensPagina" class="form-control">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="0">Todos</option>
                    </select>
                </span>
                </div>
            </div>

            <div ng-if="dispositivoMovel">

                <div class="col-xs-7 form-group">
                    <div class="row input-group">
                        <span class="input-group-addon">Ordem</span>
                        <select id="ordemFiltro" name="ordemFiltro" class="form-control" ng-model="ordemFiltro" ng-options="key as c.texto for (key, c) in camposFiltroPesquisa">
                        <option value="">Selecione o Campo</option>
                    </select>
                    </div>
                </div>
                <div class="col-xs-5 form-group">
                    <div class="input-group row">
                        <span class="input-group-addon">Ítens</span>
                        <select id="itensPagina" ng-model="itensPagina" class="form-control">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="0">Todos</option>
                    </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 form-group">
                <div class="row">
                    <input type="submit" value="Buscar" id="filtrar" class="form-control cursor btn btn-primary" ng-class="{'baixarbotao': !dispositivoMovel}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 form-inline">
                <label class="font14" ng-class="{'top30' : !dispositivoMovel}">
                <input type="checkbox" ng-if="opcaoSelecionarTodosItensConsulta" ng-click="selecionarTodosItensConsulta()" ng-model="todosItensSelecionados">
                Itens Retornados: <span id="qtdconsulta">{{qtdItensRetornados}}</span>
            </label>
            </div>
            <div class="col-xs-12 col-sm-3 form-group" ng-class="{'baixarbotao': !dispositivoMovel}">
                <input type="text" ng-change="alterarFiltroResultado(filtroResultadoTela)" ng-model="filtroResultadoTela" class="form-control" placeholder="Buscar nos Ítens da Tela">
            </div>`
        </div>
    </div>
</form>
