<form id="nomeFormConsulta" name="nomeFormConsulta" class="formCabecalhoConsulta" ng-submit="filtrar()" valida-Formulario novalidate>
    <link rel="stylesheet" href="./api/front/js/directives/templates/formCabecalhoConsultaPadrao.css">
    <input type="hidden" id="pagina" name="pagina" value="1">
    <!--Filtro Padrao do Sistema-->
    
    <div ng-if="(tela == 'consulta' || tela == undefined) && estrutura.tipoEstrutura != 'consultaDireta' && !estrutura.camposFiltroPersonalizado">
        <div id="opcoesBusca" ng-if="exibirConsulta">

            <div class="row linhaFiltro" ng-repeat="(key, filtro) in filtros" ng-if="filtro.exibir == undefined || filtro.exibir">
                <!-- <div ng-if="!dispositivoMovel"> -->
                <div class="col-sm-4 col-lg-3 col-xs-8 form-group">
                    <select-filtros-pesquisa keyArray="{{key}}"></select-filtros-pesquisa>
                </div>

                <div class="col-sm-3 col-lg-2 col-xs-4 form-group divComparacaoConsulta" ng-if="filtro.tipo != 'intervaloDatas'">
                    <!-- <label ng-if="key == 0">Comparação</label> -->
                    <select class="form-control valid" id="operador" ng-model="filtro.operador" aria-invalid="false"
                        ng-options="o.valor as o.label for o in operadoresConsulta" ng-if="filtro.tipo != 'intervaloDatas'"></select>
                </div>

                <div class="col-sm-2 col-lg-2 col-xs-6 form-group" ng-if="filtro.tipo == 'intervaloDatas'">
                    <div class="input-group">
                        <span class="input-group-addon">D. I.</span>
                        <input type="text" class="data form-control" ng-model="filtro.di" ui-data placeholder="Data Inicial">
                    </div>
                </div>

                <div class="col-md-3 divValorConsulta form-group"
                    ng-class="{'col-xs-12' : !filtro.tipo != 'intervaloDatas', 'col-xs-6' : filtro.tipo == 'intervaloDatas'}">

                    <input type="text" class="form-control valorConsulta" id="filtros_{{key}}_valor" ng-model="filtros[key]['valor']"
                        ng-if="filtro.tipo != 'intervaloDatas'" placeholder="Defina o Valor">

                    <div class="input-group" ng-if="filtro.tipo == 'intervaloDatas'">
                        <span class="input-group-addon">D. F.</span>
                        <input type="text" class="data form-control" ng-model="filtro.df" ui-data placeholder="Data Final">
                    </div>
                </div>



                <div class="col-xs-12 col-md-3">
                    <div class="row">
                        <button type="button" class="col-xs-5 btn btn-primary glyphicon glyphicon-plus" id="addcampoconsulta"
                            ng-click="adicionarFiltro()"></button>
                        <button type="button" class="col-xs-5 col-xs-offset-2 cursor btn btn-danger glyphicon glyphicon-trash" id="limparfiltros"
                            ng-click="limparFiltros()" ng-if="key == 0"></button>
                        <button type="button" class="col-xs-5 col-xs-offset-2 cursor btn btn-danger glyphicon glyphicon-minus" id="limparfiltros"
                            ng-click="removerFiltro(key)" ng-if="key > 0"></button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" id="divcomparacoesconsulta"></div>
            <div id="divfiltrosadicionais"></div>
            <div class="row top10">
                <!-- <div ng-if="!dispositivoMovel"> -->

                <div class="col-md-3 col-xs-6">
                    <!-- <label>Ordenar por</label> -->
                    <select id="ordemFiltro" name="ordemFiltro" class="form-control" ng-model="ordemFiltro"
                        ng-change="atualizarCampoFiltro('ordemFiltro', ordemFiltro)"
                        ng-options="key as ('Ordenar Por: ' + c.texto) for (key, c) in camposFiltroPesquisa">
                        <option value="">Ordenar Por</option>
                    </select>
                </div>
                <div class="col-md-2 col-xs-3">
                    <!-- <label>Sentido</label> -->
                    <select id="sentidoFiltro" name="sentidoFiltro" class="form-control" ng-model="sentidoFiltro"
                        ng-change="atualizarCampoFiltro('sentidoFiltro', sentidoFiltro)">
                        <option value="">Crescente</option>
                        <option value="desc">Decrescente</option>
                    </select>
                </div>

                <div class="col-xs-3 col-sm-2 form-group">
                    <!-- <label>Ítens Por Página</label> -->
                    <select id="itensPagina" ng-model="itensPagina" class="form-control" ng-change="atualizarCampoFiltro('itensPagina', itensPagina)"
                        ng-if="!ocultarItensPagina">
                        <option value="50">50 Por Página</option>
                        <option value="100">100 Por Página</option>
                        <option value="200">200 Por Página</option>
                        <option value="500">500 Por Página</option>
                    </select>
                </div>

                <div class="col-xs-12 col-md-2 form-group">
                    <input type="submit" value="Buscar" id="filtrar" class="btn btn-primary col-xs-12">
                </div>
            </div>
        </div>

    </div>
    <!--Fim do Filtro Padrão do Sistema-->
    <!--Filtro Personalizado - Campos definidos na Estrutura-->

    <filtro-personalizado ng-if="estrutura.camposFiltroPersonalizado != undefined && exibirConsulta && tela == 'consulta'">
    </filtro-personalizado>
    <!-- Fim Filtro Personalizado-->
    <div class="col-xs-12" ng-if="tela == 'consulta'">
        <div class="row">
            <div class="col-xs-12 col-md-6 div4 bordaQuadrada">
                <div class="row">
                    <div class="col-xs-1">
                        <input type="checkbox" ng-if="opcaoSelecionarTodosItensConsulta" name="todosItensSelecionados" id="todosItensSelecionados"
                            ng-click="selecionarTodosItensConsulta()" ng-model="todosItensSelecionados">
                    </div>
                    <div class="col-xs-6">
                        <contador-filtro></contador-filtro>
                    </div>


                    <div class="col-xs-4" ng-if="estrutura.camposFiltroPersonalizado">
                        <div class="row-fluid">
                            <div class="col-xs-6 alteraExibicaoConsulta" ng-if="estrutura.tipoEstrutura != 'consultaDireta'">
                                <button type="button" class="btn btn-default glyphicon" title="Ocultar / Mostrar Campos da Consulta"
                                    ng-class="{'glyphicon-zoom-out' : exibirConsulta, 'glyphicon-zoom-in': !exibirConsulta}"
                                    ng-click="alterarExibicaoConsulta()"></button>
                            </div>
                            <div class="col-xs-6 refreshConsulta" ng-if="!exibirConsulta">
                                <button class="btn btn-primary glyphicon glyphicon-refresh"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="estrutura.camposFiltroPersonalizado == undefined">
                <div class="col-xs-8 col-sm-4 form-group superFiltro">
                    <div class="input-group">
                        <input type="text" ng-change="alterarFiltroResultado(filtroResultado)" ng-model="filtroResultado" class="form-control top05"
                            placeholder="Buscar nos Ítens da Tela" id="filtro_resultado">
                        <span class="input-group-btn glyphicon glyphicon-erase btn btn-default" ng-click="limparFiltroResultado(filtroResultado)"></span>
                    </div>
                </div>
                <div class="col-xs-3 col-md-1 alteraExibicaoConsulta" ng-if="estrutura.tipoEstrutura != 'consultaDireta'">
                    <button type="button" class="btn btn-default glyphicon "
                        ng-class="{'glyphicon-menu-up' : exibirConsulta, 'glyphicon-menu-down': !exibirConsulta}"
                        ng-click="alterarExibicaoConsulta()">Busca</button>
                </div>
                <div class="col-xs-1 col-md-1 refreshConsulta" ng-if="!exibirConsulta">
                    <button class="btn btn-primary glyphicon glyphicon-refresh"></button>
                </div>
            </div>
            <!-- <div class="col-xs-3 col-md-1">
                    <input type="checkbox" checked="true" class="input-lg" ng-click="desfixarCabecalho()"> -->
        </div>
        <timer-consulta intervalo="{{estrutura.usarTimerConsulta.intervalo}}" ng-if="estrutura.usarTimerConsulta"></timer-consulta>

    </div>
</form>